@charset "utf-8";
#header{
    width: 100%;
    height: 56px;
    background: #3C0;
}
#logo{
	float:left;
}
#nav{
    float: right;
}

#nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#nav ul li{
    float: left;
}
#nav ul li a{
    list-style: none;
    color: #ffffff;
    text-decoration: none;
    font-family: open_sansregular;
    display:block;
	padding:17px 25px !important;
}

